@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1.35);
    }
  
    @return $number;
}
  
@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);
    
      $k: ($f-max - $f-min)/($w-max - $w-min);
      $b: $f-min - $k * $w-min;
  
      $b: $b + $units;
  
      @return calc( #{$k} * 100vw + #{$b} );
}
  
@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
    
    font-size: $f-min;
    
    @media (min-width: $w-min) {
      @if ($fallback) {
        font-size: $fallback;
      }
      font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);  
    }
    @media (min-width: $w-max) {
      font-size: $f-max;
    }
}
  
.fluid_font_size {
    @include fluidFontSize(24px, 180px, 300px, 1920px, px);
    font-weight: 500;
}
.info{
    height: 100vh;
    padding-top: 3.75rem;
    padding-bottom:  3.75rem;
    @media (max-width: 576px) {
        padding-bottom: 7.5rem;
    }
}
.container__info{
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins';
}
.container__info__title{
    display: flex;
    justify-content: right;
}
.container__info__subtitle{
    flex-direction: column;
    display: flex;
    font-weight: 300;
}
.container__info__adv{
    padding-top: 0.5vh;
    padding-left: 0.75rem;
    border-left: 1px solid #008DFC;
}
.info__title{
    @include fluidFontSize(52px, 98px, 300px, 1920px, px);
    font-weight: 400;
    line-height: 0.8;
}
.info__title__ft{
     @include fluidFontSize(26px, 36px, 300px, 1920px, px);
    letter-spacing: 0.05em;
    padding-bottom: 3vh;
    font-weight: 400;
}
.info__title__sd{
    @include fluidFontSize(38px, 64px, 300px, 1920px, px);
    letter-spacing: 0.015em;
    line-height: 1.05;
    font-weight: 400;
    width: 69vw;
    padding-bottom: 1.5vh;
    @media (max-width: 768px) {
        line-height: 1.25;
        width: 80vw;
    }
    @media (max-width: 576px) {
        line-height: 1.2;
        width: 90vw;
    }
    @media (max-width: 420px) {
        width: 100vw;
    }

}
.info__adv{
    @include fluidFontSize(18px, 22px, 300px, 1920px, px);
    line-height: 1.55;
    letter-spacing: 0.05em;
}