.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
}
.container__nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 30vw;
}
.a, .nav-link, .header__nav, .nav__link{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05em;
}

.header__nav{
    border:1px solid #008DFC;
}
.btnCustom{
    background-color: transparent;
    border: 1px solid #008DFC ;
}