@import "../app/app.scss";
.fluid_font_size {
    @include fluidFontSize(58px, 180px, 300px, 1920px, px);
    font-weight: 500;
}
.intro {
    height: calc(100vh - 12vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 7vh;
    padding-left: 2.75vw;
    padding-right:2.75vw;
}
.container__intro__title__left{
    display: flex;
    justify-content:left;
    line-height: 1.05;
    letter-spacing: 0em;
}
.fluid_font_size:last-child {
    margin-top: 0.5vh;
    padding-left: 1vw;
}
.container__intro__title__right{
    display: flex;
    justify-content: right;
    color: #008dfc;
    line-height: 1.05;
    letter-spacing: 0em;
}
.container__intro__news{
    position: absolute;
    top: 50vh;
    padding-left: 10vw;
    display: flex;
    justify-content: right;
}
.container__intro__usp{
    padding-left: 14vw;
    display: flex;
    justify-content: right;
}
.title__fh {
    justify-content: right;
    width: 35vw;
    padding-top: 3vh;
    @include fluidFontSize(26px, 36px, 300px, 1920px, px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

.container__intro__img {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;
}
.img {
    width: 35%;
}
.blog{
    padding-top: 1vh;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}
.blog__title{
    padding-top: 1vh;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}
.container__intro__roundbtn {
    position: absolute;
    top: 72vh;
    left: 35vw;
    margin: 3vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid #008DFC;
}