@import "../app/app.scss";
.fluid_font_size {
    @include fluidFontSize(58px, 180px, 300px, 1920px, px);
    font-weight: 500;
    @media (max-width: 992px) and (max-height:558px) {
        @include fluidFontSize(26px, 86px, 150px, 992px, px);
        line-height: 1.05;
    }

}
.intro {
    height: calc(100vh - 12vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 7vh;
    padding-left: 2.75vw;
    padding-right:2.75vw;
    @media (max-width: 992px) and (max-height:558px) {
        padding-top: 2vh;
        margin-left: 5vw;
        margin-right:5vw;
    }
}
.container__intro__title__left{
    display: flex;
    justify-content:left;
    line-height: 1.05;
    letter-spacing: 0em;
}
.fluid_font_size:last-child {
    margin-top: 0.5vh;
    padding-left: 1vw;
}
.container__intro__title__right{
    display: flex;
    justify-content: right;
    color: #008dfc;
    line-height: 1.05;
    letter-spacing: 0em;
}
.container__intro__news{
    width: 50vw;
    position: absolute;
    top: 52vh;
    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
        top: 55vh;
        }
    @media (max-width: 768px) {
        top: 56vh;
        }
    @media (max-width: 576px) {
    display: none;
    }
    @media (max-width: 992px) and (max-height:558px) {
        display: none;
    }
}


.container__intro__img {
    width: 33.33%;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: 15vw;
}
.img {
    width: 100%;
}
.blog{
    @include fluidFontSize(16px, 20px, 300px, 1920px, px);
    padding-top: 0.125rem;
    letter-spacing: 0.05em;

    @media (max-width: 992px) and (max-height:558px) {
        @include fluidFontSize(10px, 14px, 150px, 992px, px);
    }
}
.blog__title{
    @include fluidFontSize(16px, 26px, 300px, 1920px, px);
    letter-spacing: 0.05em;
    @media (max-width: 992px) and (max-height:558px) {
        @include fluidFontSize(10px, 18px, 150px, 992px, px);

    }
}

.container__intro__usp{
    border: 1px solid blue;
    display: flex;
    justify-content: right;
    @media (max-width: 992px) and (max-height:558px) {
        justify-content: left;
    }
}
.title__fh {
    justify-content: right;
    width: 35vw;
    padding-top: 3vh;
    @include fluidFontSize(20px, 36px, 300px, 1920px, px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05em;
    @media (max-width: 992px) {
        width: 60vw;
        }
    @media (max-width: 992px) and (max-height:558px) {
        @include fluidFontSize(16px, 20px, 150px, 992px, px);
        padding-top: 6vh;
        width: 40vw;
    }
    @media (max-width: 768px) {
        width: 60vw;
        }
    @media (max-width: 576px) {
        width: 100vw;
        padding-top: 20vh;
    }
}

.container__intro__roundbtn {
    position: absolute;
    top: 72vh;
    left: 35vw;
    margin: 3vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid #008DFC;
}